<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ richList?.pageTitleH1 }}</h1>


  <input type="text" [(ngModel)]="searchString" (change)="searchFilter()" />

  <select [(ngModel)]="currencySelected" (ngModelChange)="currencyFilter()">
    <option [value]="usDollarValue">USD</option>
    <option [value]="australianDollarValue">AUD</option>
    <option [value]="euroValue">EUR</option>
  </select>


  <table class='table' *ngIf='richList?.celebrityList.length else noData'>
    <tbody>
      <tr class="tableRow" *ngFor='let celeb of richList.celebrityList'>
        <th class="tableHead tableElem" title="Number">No. {{celeb?.rank}}</th>
        <td class="tableElem" title="Name">name: {{ celeb?.name }}</td>
        <!--Needs currenty and comma pipe-->
        <td class="tableElem" title="Net Worth">{{ netWorthPrefix }} {{ celeb?.netWorth }}</td>
        <td class="tableElem" title="Age">{{ celeb?.age }}</td>
        <td class="tableElem" title="Country">{{ celeb?.country }}</td>
        <!--  -->
      </tr>
    </tbody>
  </table>
  <ng-template #noData>
    <p>No Results Found</p>
  </ng-template>
</div>